/* write your override styles here */
div.tag-1{
  display: none;
}

#wall div.tag-1 + div#tag-2{
  display: none;
}

#wall div#tag-2 + div#tag-3.slick.wicked{
  display: none;
}

#wall div#tag-3 +div.parent #tag-4 {
  display: none;
}
#wall div.parent:nth-child(2) div:first-child#tag-5.slick
 {
  display: none;
}

#wall div.parent:nth-last-child(1) div:last-child > #tag-6 {
  display: none;
}



#wall div.parent:last-child div:first-child div#tag-7.slick {
  display: none;
}
